.venv
.mypy_cache
.DS_Store

.vscode/
.agent/rules
.claude/settings*.json

**/skill-creator/

*.png
*.jpg
*.pdf
*.heic
*.aux
*.log
*.out
*.gz

images/**
!images/**/
!images/**/.gitkeep

src/**
!src/**/
!src/**/.gitkeep